.colunas {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.colunas:hover {
    transform: scale(1.1);
    background-color: #f0f0f0;
}



.tabela {
    border-spacing: 75px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.imagem-projetos {
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease;
}

.imagem-projetos:hover {
    transform: scale(1.1);  
}

.imagem-contatos {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}	

.imagem-contatos:hover {
    transform: scale(1.1);  
}

.skills-linhas {
    display: flex;
    justify-content: center;
}

.skills-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.skills-container {
    border-radius: 10px;
    transition: transform 0.3s ease;
    transition: box-shadow 0.7s ease;
}

.skills-container:hover {
    box-shadow: 0 0 10px 0 rgba(94, 88, 88, 0.5);
    transform: scale(1.1);
}

#javascript {
    width: 200px;
    height: 190px;
}

#react {
    width: 350px;
    height: 205px;
}

#python {
    width: 180px;
    height: 190px;
}

#imagem {
    width: 200px;
    height: 200px;
}

.container {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}


.animation-text {
    animation: typewriter 4s steps(9) 500ms infinite;
}

.line {
    position: relative;
    width: 0px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

}

@keyframes typewriter {
    0% {
          width: 0px;
    }
    10% {
          width: 0px;
    }
    25% {
        width: 160px;
  }
  75% {
        width: 160px;
  }
  90% {
      width: 0px;
}
100% {
      width: 0px;
}

}
