@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #2b1e02;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050c36;
    --foreground: #584203;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#nome {
  color: transparent;
  background: linear-gradient(to right, #00ff66, #33ccff);
  -webkit-background-clip: text;
  background-clip: text
}